
<div id="banner">
    <div class="banner_content">
      <h1>Wall-E</h1>
      <p>Welcome to 507 Presentation Evaluation System</p>
      <hr>
      <button><a href="/users/sign_up">Get Started</a></button>
    </div>
</div>