
<div id="banner">
    <div class="banner_content">
      
      <p>Welcome to the SCTL Practicum Presentation Evaluation System</p>
      <hr>
      <div style="margin-top: 40px;"><a href="/users/sign_up" style="color: #fff; border: none; outline: none; background: #3d86c8; padding: 1em 3.5em; border-radius: 2em;">Get Started</a></div>
      
    </div>
</div>