
<div id="banner">
    <div class="banner_content">
      
      <p>Welcome to the SCTL Practicum Presentation Evaluation System</p>
      <hr>
      <button><a href="/users/sign_up">Get Started</a></button>
    </div>
</div>