@import "global/variables";

//navbar style
.navbar {
	padding: 10px 0;
	margin-bottom: 0;
	background: $white;
	z-index: 998;
	-moz-box-shadow: rgba($black, 0.3) 0 3px 6px;
    -webkit-box-shadow: rgba($black, 0.3) 0 3px 6px;
    box-shadow: rgba($black, 0.3) 0 3px 6px;
}

.navbar-default .navbar-nav>li>a {
	color: $blue;
	font-size: 16px;
	margin-right: 10px;

	&:hover, &:focus, &:active {
		border-bottom: 2px solid $blue;
		color: $blue;
	}
}

.navbar-default .navbar-nav>.open>a {
	color: $white;
    background: rgba($blue, 0.7);

	&:hover {
		color: $white;
        background: rgba($blue, 0.7);
	}
}

#logo {
	color: $blue;
	border: 2px solid $blue;
	padding: 10px;
	border-radius: 5px;

	&:hover {
		text-decoration: none;
	}
}

.navbar-right {
	.dropdown-menu {
		right: 10px;
		top: 50px;
	}
}

//Style for the flash message
#notice_wrapper {
	width: 100%;
	position: absolute;
	display: inline-block;
	background: rgba($green, 0.85);
	z-index: 999;
	p {
		color: $white;
		text-align: center;
		font-weight: 700;
		font-size: 1.25rem;
		padding: 1.5rem 0;
	}
}