<div class="form-inline">
	<label style="margin-right: 5px;">Group Number</label>
	<input type="text" class="form-control">

	<label style="margin-right: 5px;">Project Name</label>
	<input type="text" class="form-control">

	<button class="btn btn-primary" id="genPdf" data-remote="true" data-url="/welcome/display" data-type="json">Generate PDF Report</button>

</div>