// ==========================================================
// Form Styles
// ==========================================================
@import "variables";
@import "mixins";

.input-control {
	  width: 100%;
	  float: left;
	  height: 46px;
	  padding: 12px 13px;
	  border: 1px solid #ccc;
	  background-color: #fff;
	  color: #333;
	  font-weight: 400;
	  line-height: 27px;
	  -webkit-font-smoothing: antialiased;
	  font-size: 18px;
	  line-height: 24px;
	  vertical-align: middle;

	  &:focus {
         border-color: $blue;
         outline: none;
	  } // focus
}

 .primary-button {
   @include background-linear-gradient(right, $btnFirst, $btnSecond);
   padding: 13px 0;
   border: 0;
   cursor: pointer;
   color: $white;
   font-size: 0.8em;
   text-transform: uppercase;
   opacity: 0.95;

   &:hover {
      opacity: 1;
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in-out);
   } // hover
} // primary button

//overwrite boostrap table style
.table>thead:first-child>tr:first-child>th {
	text-align: center;
	background: $blue;
	color:$white;

}


.table>tbody>tr>td {
	vertical-align: middle !important;
}

.table {
	text-align:center;
	border: 1px solid #ddd;
}


a:hover, a:focus {
	text-decoration: none;
	color: $white;
}

.tag {
	background-color: $blue;
	padding: 6px 8px;
	font-size:90%;
	border-radius: 4px;
	color: $white;
}
