// ==========================================================
// Variables set up
// ==========================================================

// Color variables
$white: #FFFFFF;
$black: #000000;
$highlight: #d2674e;
$dark: #22292e;
$light: #EDEFF5;
$grey: #E9E9E9;
$blue: #33a3dc;
$red: #B83936;

// button color variables
$btnFirst: #025F8E;
$btnSecond: #0286CD;

//Font variables
//$fontfamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$thin: 200;
$normal: 400;
$bold: 600;
$heavy: 800;