/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require nprogress
 *= require nprogress-bootstrap
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

$white: #FFFFFF;
$highlight: #d2674e;
$dark: #22292e;
$light: #EDEFF5;
$grey: #E9E9E9;
$blue: #33a3dc;


body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

.delete-button {
	visibility: hidden;
}

//overwrite boostrap table style
.table>thead:first-child>tr:first-child>th {
	text-align: center;
	background: $blue;
	color:$white;

}


.table>tbody>tr>td {
	vertical-align: middle !important;
}

.table {
	text-align:center;
	border: 1px solid #ddd;
}


a:hover, a:focus {
	text-decoration: none;
	color: $white;
}


//navbar style
.navbar {
	padding: 1.2em 0;
	margin-bottom: 0;
	background: $white;
}

.nav-default{
	.navbar-brand{
		color: #f9f290;
		&:hover {
			color: #f9f290;
		}
	}
}

//Utility style
.wrapper_wide {
	width: 90%;
	margin: 0 auto;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper_rules {
	width: 70%;
	margin: 0 auto;
}

.wrapper_search {
	width: 56%;
	margin: 0 auto;
}

.wrapper_skinny {
	width: 50%;
	margin: 0 auto;
}

//Style for clearfix
.cf:before, .cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

//Style for the flash message
#notice_wrapper {
	width: 100%;
	position: absolute;
	display: inline-block;
	background: rgba($blue, 0.85);
	z-index: 999;
	p {
		color: $white;
		text-align: center;
		font-weight: 700;
		font-size: 1.25rem;
		padding: 1.5rem 0;
	}
}

//Style for the banner
#dashboard_show {
	#show_banner {
		background: $blue;
		text-align: center;
		padding: 5em 0;
		h1 {
			font-size: 2.5rem;
			font-weight: 300;
			color: $white;
			margin: 0 0 .5rem 0;
		}
		.description {
			width: 85%;
			line-height: 1.75;
			margin: 0 auto 2rem auto;
			color: lighten($dark, 20%);
		}
	}

	#links {
		padding: 2em 0;
		text-align: center;
		ul {
			list-style: none;
			padding-left: 0;
			padding: 1rem 0;
			margin-bottom: 1rem;
			border-bottom: 1px solid lighten($dark, 75%);
			li {
				display: inline;
				margin-right: 1em;
				font-weight: 700;
				a {
					color: $dark;
					text-decoration: none;
					&:hover {
						color: $blue;
					}
				}
			}
			.current {
				color: $blue;
			}
		}
	}
}


.tag {
	background-color: $blue;
	padding: 6px 8px;
	font-size:90%;
	border-radius: 4px;
	color: $white;
}


.comment_label {
	margin-top: 30px;
	font-size: 20px;
	color: darken($blue, 10);
	small {
		font-size: 13px;
		font-weight: 500;
	}
}

.comment_content {
	padding: 10px 20px 25px 20px;
	font-weight: 600;
}

#brake{page-break-after: always;}



